// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
$iron: #dadbdf;

#floor{
  position: fixed;
  top: 100%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-100%);
  background: url("/floor-2228277_1920.jpg");
  background-size: cover;
  transition: 1s;
  filter: brightness(65%);
}

#red_deer{
  position: fixed;
  top: 100%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-100%);
  background: url("/red-deer-2308515_1920.jpg");
  background-size: cover;
  transition: 1s;
  filter: brightness(65%);
}

#thailand{
  position: fixed;
  top: 120%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-100%);
  background: url("/architecture-1836070_1920.jpg");
  background-size: cover;
  transition: 1s;
  filter: brightness(65%);
}

#residence{
  position: fixed;
  top: 100%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-100%);
  background: url("/residence-2238987_1920.jpg");
  background-size: cover;
  transition: 1s;
  filter: brightness(65%);
}

#skyscraper{
  position: fixed;
  top: 100%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-100%);
  background: url("/skyscraper-450793_1920.jpg");
  background-size: cover;
  transition: 1s;
  filter: brightness(65%);
}

// @media (min-width: 100px) {
//
// }
//
// @media (min-width: 200px) {
//
// }
//
// @media (min-width: 300px) {
//
// }
//
// @media (max-width: 500px) {
//
// }
//
// @media (min-width: 550px) {
//
//
// }
//
// @media (min-width: 750px) {
//
// }
//
// @media (min-width: 1000px) {
//
//
// }
//
// @media (min-width: 1200px) {
//
// }
