<img id="chicago" src="/chicago-690364_1920.jpg" alt="" class="background-image responsive-img"></img>

<div class = "about-bg">
  <div class = "about-box">
    <div class = "about-text">
      <h2> About Ile Iye</h2>
      <p>
        Ile Iye is the conjunction of two words in Yoruba basically meaning Peace at Home.<br>
        Whether you are interested in purchasing or selling some property, the world of real estate can be complex.<br>
        The most important part of real estate is its value.<br>
        That's where we come in. We are here to give you some peace of mind with an estimated valuation of the property.<br>
      </p>
    </div>
  </div>
</div>
