<% @results.each do |result| %>
  <div class="pull-right muted">Zillow ID #
    <%= :result['zpid'] %></div>
  <%= :result %>
  <br/>
  <br/>

<% end %>


  <!-- @array_of_results = @response.parsed_response['searchresults']['response']['results']['result'] -->
