<section class="result">
  <div class="tiny">
    <div class="pull-right muted">Zillow ID #<%= result['zpid'] %></div>
    <span class="muted">—</span>
    <%= :result %>
  </div>
  <h3>
    <%= :result %>
  </h3>
  <%= render 'zestimate', zestimate: result['zestimate'] %>
</section>
